/*head big div*/
.big_div{
    border: 1px solid #979fc0;
    margin:50px auto;
    top: 0px;
    left: 0px;
    height: 476px;
    width: 980px;
}
.slider_div{
    width: 978px;
    height: 373px;
    overflow: hidden;
    position: relative;
}
/*down slider div*/
.down_div{
    border: 5px solid #000000;
    position: relative;
    background-color: black;
    height: 102px;
    width: 1973px;
    display: flex;
}

.down_div_head{
    overflow: hidden;
    background-color: black;
}

/*slider div left buton   */
.circle_icon{
    background-image: url("/image/left-arrow.png");
    background-repeat:no-repeat;
    background-position: center;
    top: 162px;
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    opacity: .3;
    width: 43px;
    height: 43px;
    background-color: #fff;
    left: 30px;
    cursor: pointer;
    z-index: 100;
}
.circle_icon :hover{
    opacity: .5;

}
/*slider div right buton   */
.circle_icon2{
    background-image: url("/image/right-arrow.png");
    background-repeat:no-repeat;
    background-position: center;
    top: 162px;
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    opacity: .3;
    width: 43px;
    height: 43px;
    background-color: #fff;
    right: 30px;
    cursor: pointer;
    z-index: 100;

}

.circle_icon2 :hover {
    opacity: .5;
}

/*down div plus image*/
.circle_icon_plus{
    background-image: url("https://png.icons8.com/plus/ios11/39/000000");
    background-repeat:no-repeat;
    background-position: center;
    top: 23px;
    position: absolute;
    border-radius: 100%;
    fill: #fff;
    width: 35px;
    height: 35px;
    background-color: #fff;
    margin-left: 71px;
    cursor: pointer;
    border: 2px solid transparent;
    opacity: 0.8;

}

.img_position {
    padding-top: 10px;
    padding-left: 9px;
    position: absolute;
}

.small_image_position{
    position: relative;
    width: 197px;
    display: inline-block;
    border: 2px solid #000000;
    outline: none;
    /*height: 90px;*/
}

.small_image_position:hover .plus_image {
    display:block;
}

/*down div image hover transparent*/
.plus_image{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 98%;
    height: 98%;
    background-color: #000;
    opacity: 0.4;
    border: 3px solid transparent;
    display:none;
    cursor: pointer;
}

/*active div plus hover image*/
.activediv .plus_image {
    display:block;
}
.notifications {
    width: 400px;
    height: 300px;
    position: relative;
}

.notification {
    width: 80px;
    height: 40px;
    background: lightblue;
    display: inline-block;
}

.animate {
    width: 0px;
    transition: width 0.4s;
}








